@import '../styles/color';
@import '../styles/corner';
@import '../styles/font';

.text-field {
  @include default-font();
  box-sizing: border-box;
  font-size: 32px;
  @include round-corner;
  outline: none;
  padding: 8px 20px;
  height: 80px;
  border-radius: 32px;
  border: 0px;
  margin-left: 16px;

  &::placeholder {
    color: #b7b4a6;
  }

  &:focus {
    border-color: $color-primary;
  }
}
