@import '../styles/color';
@import '../styles/corner';
@import '../styles/font';

.text-field {
  @include default-font();
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  padding: 8px 20px;
  border-radius: 32px;
  border: 1px solid $color-ch-fg;
  margin: 16px;

  &:focus {
    box-shadow: 0 0 0 4px $color-ch-bg, 0 0 0 8px $color-focus-day;
    color: $color-focus-day;
  }

  &::placeholder {
    color: $color-ch-fg;
  }

  &.code {
    height: 80px;
    font-size: 32px;
    margin-left: 24px;

    &:focus {
      box-shadow: 0 0 0 6px $color-ch-bg, 0 0 0 12px $color-focus-day;
    }
  }

  &.code-error {
    &:focus {
      box-shadow: 0 0 0 6px $color-ch-bg, 0 0 0 12px $color-error;
      color: $color-error;
    }
  }
}
