@import '../styles/font';
@import '../styles/dimension';
@import '../styles/color';
@import '../styles/corner';
@import '../styles/layouts';

.home {
  @include default-font();

  min-height: 100vh;
  background-color: $color-ch-bg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  a {
    color: $color-link;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 16px;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      font-weight: bold;
    }

    &:focus {
      border: 2px solid $color-focus-day;
      outline: none;
    }
  }

  .code-field-wrapper,
  .text-field-wrapper,
  .emoji-text-field-wrapper {
    display: flex;
    align-items: center;
  }

  .emoji-text-field-wrapper {
    margin-left: 48px;
    margin-bottom: 8px;
    @media only screen and (max-width: 720px) {
      margin: auto;

      input {
        margin: auto;
        margin-bottom: 16px;
      }
    }
  }

  .text-field-wrapper {
    // margin-right: 48px;
    // margin-left: 48px;

    @media only screen and (max-width: 720px) {
      // margin: auto;
      // flex-direction: column;
      // align-items: center;
    }
  }

  .hide-small {
    @media only screen and (max-width: 720px) {
      display: none !important;
    }
  }

  .control {
    display: flex;
    @media only screen and (max-width: 720px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .user-short-links-section {
    margin-top: 20px;
  }

  @include respond-to($phone) {
    .title {
      text-align: center;
    }

    .control.create-short-link {
      flex-direction: column;
      height: 180px;

      .create-short-link-btn {
        flex: 1;
        margin: 4px;
        margin-top: 20px;

        button {
          width: 100%;
        }
      }
    }
  }

  .main {
    // padding: 40px 0;
  }

  .hidden {
    visibility: hidden;
  }
}
