@import '../styles/font';
@import '../styles/dimension';
@import '../styles/color';
@import '../styles/corner';
@import '../styles/layouts';

.home {
  @include default-font();

  min-height: 100vh;
  background-color: #f7f5f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .page-link {
    a {
      color: #5b74a6;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        font-weight: bold;
      }
    }
  }

  .text-field-wrapper {
    display: flex;
    align-items: center;
  }

  .control {
    display: flex;
    @media only screen and (max-width: 720px) {
      flex-direction: column;
      align-items: center;
    }

    .create-short-link-btn {
      display: flex;
      justify-content: center;
    }
  }

  .user-short-links-section {
    margin-top: 20px;
  }

  @include respond-to($phone) {
    .title {
      text-align: center;
    }

    .control.create-short-link {
      flex-direction: column;
      height: 180px;

      .create-short-link-btn {
        flex: 1;
        margin: 4px;
        margin-top: 20px;

        button {
          width: 100%;
        }
      }
    }
  }

  .main {
    padding: 40px 0;
  }
}
