@import '../styles/font';
@import '../styles/color';

.published {
  @include default-font();

  background-color: darken($color-primary, 3%);
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  @media only screen and (max-width: 500px) {
    font-size: 1rem;
  }

  .lightGreen {
    color: darken($color-primary, 36%);
  }

  .darkGreen {
    color: darken($color-primary, 26%);
  }

  .imagine {
    text-align: center;
  }

  .bold {
    font-weight: $font-weight-bold;
  }

  a {
    color: white;
    text-decoration: underline;
    padding: 8px 16px;
    border-radius: 32px;

    &:focus {
      box-shadow: 0 0 0 4px $color-focus-night;
      outline: none;
    }
  }

  a.heading {
    text-decoration: none;
    padding: 16px 32px;
    margin-bottom: 32px;
    border-radius: 64px;

    &:focus {
      box-shadow: 0 0 0 8px $color-focus-night;
      outline: none;
    }
  }

  h1 {
    font-size: 4rem;
    margin: 0;
    white-space: nowrap;

    @media only screen and (max-width: 750px) {
      font-size: 2.5rem;
    }
    @media only screen and (max-width: 500px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 375px) {
      font-size: 1.6rem;
    }
  }

  .buttons {
    margin: 16px;

    @media only screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }
  }

  button,
  a.button {
    @include default-font();
    border: none;
    background-color: white;
    color: darken($color-primary, 26%);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 16px 32px;
    margin: 16px;
    border-radius: 32px;

    @media only screen and (max-width: 500px) {
      font-size: 1.2rem;
    }

    &:focus {
      box-shadow: 0 0 0 8px $color-primary, 0 0 0 16px $color-focus-night;
      outline: none;
    }
  }
}
