@import '../../styles/font';
@import '../../styles/color';

.short-link-usage-wrapper {
  margin: 48px;
}

.input-error {
  color: $color-error;
  font-weight: $font-weight-semi-bold;
}

.username {
  flex-shrink: 2;
}

.room {
  flex-shrink: 1;
}
