@import '../../styles/dimension';

.UserShortLinksSection {
  max-width: 96vw;
  width: $content-width;
  margin-left: auto;
  margin-right: auto;

  .page-control-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  td {
    display: flex;
    margin: 0;
  }

  th.cell-1 {
    text-align: right;
  }

  .long-link {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .alias {
    width: 100%;
    text-align: right;
  }

  .long-link,
  .alias {
    word-break: break-all;
  }
}
