@import '../styles/font';
@import '../styles/dimension';
@import '../styles/color';

.section {
  @include default-font();

  display: flex;
  justify-content: center;
  color: #6e694e;

  .green {
    color: $color-primary;
  }

  .slash {
    color: #d5d0b9;
  }

  .rocket-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .center {
    box-sizing: border-box;
    width: $content-width;
    padding: 20px;
    border-radius: 4px;
  }

  .control {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-description {
    text-align: center;
    margin: 16px;
  }

  .header {
    display: flex;
    margin-bottom: 20px;

    .title {
      font-size: 26px;
      font-weight: $font-weight-semi-bold;
      padding-left: 10px;
      color: #333;
    }

    .options {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      padding: 0;
      margin: 0 0 0 20px;
    }
  }
}
