@import '../styles/font';
@import '../styles/dimension';
@import '../styles/color';

.section {
  @include default-font();

  display: flex;
  justify-content: center;
  color: #6e694e;

  a {
    color: #5b74a6;
  }

  .green {
    color: $color-primary;
  }

  .sand {
    color: #d5d0b9;
  }

  .error {
    color: $color-error;
  }

  .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 8px;
  }

  .publish {
    height: 40px;
    font-size: 16px;
    font-weight: $font-weight-bold;
    border-radius: 32px;
  }

  .rocket-button {
    background-color: rgba($color: #000000, $alpha: 0);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 8px;

    &:focus,
    &:hover {
      font-size: 3rem;
    }

    &:focus {
      border-radius: 48px;
      outline: none;
      box-shadow: 0 0 0 4px $color-primary;
    }

    &:active {
      border-radius: 48px;
      outline: none;
      box-shadow: 0 0 0 8px $color-primary;
      background-color: $color-primary;
    }
  }

  .create-short-link-btn {
    display: flex;
    justify-content: center;
  }

  .center {
    box-sizing: border-box;
    width: $content-width;
    padding: 20px;
    border-radius: 4px;
  }

  .control {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-description {
    text-align: center;
    margin: 16px;
  }

  .header {
    display: flex;
    margin-bottom: 20px;

    .title {
      font-size: 26px;
      font-weight: $font-weight-semi-bold;
      padding-left: 10px;
      color: #333;
    }

    .options {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      padding: 0;
      margin: 0 0 0 20px;
    }
  }
}
